// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#contacts {
	margin:0;
	padding:0;
	list-style:none;
	li.contact {
		height: 70px;
		padding: 10px 25px;
		border-left: 5px solid transparent;
		border-bottom: 1px solid #dedede;
		transition:all 500ms linear;
		&.dashboard-contact {
			padding:10px;
			border-left:0;
			.btn-xs-round {
				margin-top: 10px;
			}
		}
		a {
			color:#333;
			text-decoration:none;
			&.btn {
				color:#e5575c;
			}
		}
		&.active{
			border-color:#e5575c;
			background:#f9f9f9;
		}
		.identity {
			display:block;
			text-overflow:ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}
		.info {
			display: block;
			text-align:right;
			color:#999;
			text-overflow:ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}
		.meta {
			float:right;
			margin-top: 20px;
			font-size: 12px;
		}
		.name {
			font-size:20px;
		}
		.details {
			font-size:14px;
			color:#999;
		}
		.glyphicon-pencil {
			color: #e5575c;
		}
		#details {
			display:none;
			height:0;
			min-height:0;
			transition:all 500ms linear;
		}
		&.editing {
			background: #f9f9f9;
			border-left: 5px solid #e5575c;
		}
		&.open {
			height:auto;
			min-height:220px;
			border-bottom:0;
			#details {
				display:block;
				height:auto;
			}
		}
	}
}


#form_container {
	padding: 15px;
	overflow-x: hidden;
	overflow-y: scroll;
	position: absolute;
	width: 100%;
	height: 100%;
	hr {
		border-top: 1px solid #d9d9d9;
		border-bottom: 1px solid #fff;
		margin: 0 0 15px;
	}
	.actions {
		padding-top:15px;
		border-top:1px solid #e5575c;
	}
	h2 {
		color:#e5575c;
		text-align:right;
	}
	.bfh-datepicker {
		margin-top: 4px;
	}
	label, .name {
		cursor:pointer;
		display:block;
		color: #e5575c;
		border-bottom: 1px solid #e5575c;
		width: 100%;
	}
	input[type="text"] {
		border:0;
		background: #fff;
		margin-bottom: 10px;
		cursor: text;
		font-size: 16px;
		width:100%;
		&.contact-name {
			color: #e5575c;
			text-align: right;
			font-size:30px;
			::-webkit-input-placeholder { color: #e5575c; }
			:-moz-placeholder { color: #e5575c; }
			::-moz-placeholder { color: #e5575c; }
			:-ms-input-placeholder { color: #e5575c;	}
		}
		&:focus {
			outline:0;
		}
	}
	textarea {
		background: #fff;
		width: 100%;
		border: 0;
		height: 75px;
		&:focus {
			outline:0;
		}
	}
	.bfh-datepicker-calendar>table.calendar {
		width: 90%;
	}
	.bfh-datepicker-toggle {
		width: 100%;
		.input-group-addon {
			display:none !important;
		}
	}
	.select {
		border-bottom:0;
		position:relative;
		&:after {
			position: absolute;
			top: 66%;
			right: 1.25rem;
			display: inline-block;
			content: "";
			width: 0;
			height: 0;
			margin-top: -.15rem;
			pointer-events: none;
			border-top: 0.6rem solid #dedede;
			border-right: .6rem solid transparent;
			border-bottom: .6rem solid transparent;
			border-left: .6rem solid transparent;
		}
		&:hover {
			&:after {
				border-top-color:#e5575c;
			}
		}
		.clear-date {
			position: absolute;
			top: 35px;
			z-index: 100;
			right: 10px;
		}
	}
	.checkbox {
		border-bottom:none;
		padding-left:0;
		.control-text {
			display: block;
			margin: 10px 15px 10px 25px;
			cursor:default;
		}
	}
	select {
		display: inline-block;
		margin: 5px 0 0;
		padding: .5rem;
		line-height: 1.5;
		color: #555;
		border: 0;
		border-radius: .25rem;
		cursor: pointer;
		outline: 0;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		width: 100%;
		background: #fff;
		font-size: 16px;
		font-weight: normal;
	}
}