// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#tasks {
	.task-contact {
		background: #ccc;
		color: #FFF;
		padding: 3px 0 3px 10px;
		position: absolute;
		font-size: inherit;
		width: 107%;
		position: relative;
		display: block;
		a {
			color:#fff;
			text-decoration: none;
		}
		&.overdue {
			background:#e5575c;
		}
		&.today {
			background:#5bc0de;
		}
	}
	ul {
		padding:0;
		margin:0;
		.task {
			list-style: none;
			position: relative;
			border-bottom: 1px solid #eee;
			padding: 10px 10px 1px;
			min-height: 30px;
			&:last-child {
				border-bottom:0;
			}
			.content {
				display: block;
				width: 80%;
				margin-left: 25px;
				.glyphicon {
					float: left;
					margin: 2px 5px 0 -2px;
				}
			}
			.complete-form {
				width: 0;
				height: 0;
				.control-indicator {
					position: absolute;
					top: -8px;
				}
			}
			.meta {
				text-align: right;
				display: block;
				font-size: 12px;
				margin: -25px 0 10px;
				color:#999;
				a {
					color:#999;
					text-decoration: none;
					.glyphicon {
						color:#999;
					}
					&:hover {
						color:#e5575c;
					}
				}
			}
			&:hover {
				.meta {
					color:#e5575c;
					a {
						color:#e5575c;
						.glyphicon {
							color:#e5575c;
						}
						&:hover {
							color:#e5575c;
						}
					}
				}
			}
			&.completed {
				.content {
					text-decoration: line-through;
					color: #999;
				}
				.checkbox .control-indicator {
					border-color:#999;
				}
				.control input:checked ~ .control-indicator  {
					background-color: #999;
				}
			}
		}
	}
}

.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
	padding: 6px 4px;
}